.BackgroundLogin {
    background-image: url('../images/login.png');
    background-color: #81f1ff;

    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    margin-bottom: 10px;
}